<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://10.70.62.46:3306/cboxstatis_flow" />
				<property name="username" value="root" />
				<property name="password" value="bjneusoft" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/VideoPlayMapper.xml" />
	</mappers>
</configuration>