<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VideoPlay">
	<select id="batch" parameterType="hashmap" resultType="cbox.realrec.source.VideoPlay">
		select * from cbox_stats_videoplay limit #{start}, #{limit}
	</select>
</mapper>