<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Video">
	<select id="length" parameterType="string" resultType="string">
		select video_program_length from cbox_video where video_id=#{videoId} limit 1
	</select>
	<select id="detail" parameterType="string" resultType="realrec.cbox.metadata.video.VideoSetDetail">
		select cvs.LOGO_IMAGE logo, ifnull(cfvc.VIDEOSET_NEW_NAME, cvs.COLUMN_NAME) title
		from cbox_videoset cvs left join cbox_folder_video_contains cfvc on cvs.SCHEDULE_ID = cfvc.VIDEO_ID
		where cvs.SCHEDULE_ID = #{videoSetId} limit 1
	</select>
</mapper>